
<h1>Average Computer Results</h1>

<p>You entered: <%= @list_of_numbers.join(',') %>.  There are <%= @size_of_list%> numbers in your list.</p>

<p>The average is:  <%=@average%>.</p>

<p><%= link_to('try it again', average_path) %></p>
